/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.App {
  padding: 20px;
}

.title {
  font-size: 3em;
  text-align: center;
  margin: 20px 0;
}

/* Hamburger Icon */
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #333;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Popup Menu */
.popup-menu {
  position: fixed;
  top: 50px; /* Adjusted to prevent overlap with hamburger icon */
  left: 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: 1px solid #ddd;
  width: 180px; /* Set a fixed width for consistency */
}

.popup-menu button {
  display: block;
  width: 100%; /* Make buttons take up full width */
  margin: 8px 0;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: left; /* Align text to the left */
  transition: background-color 0.3s ease;
}

.popup-menu button:hover {
  background-color: #0056b3;
}

.popup-menu button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.incident-box {
  position: absolute;
  top: 20px;
  right: 20px;
  /* background-color: #4caf50; */
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
}

.visualizations {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.chart {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 48%; /* Ensures two charts take equal width */
  height: 400px; /* Set the same height for both charts */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.chart:hover {
  transform: scale(1.05);
}

/* Optional: Adding some spacing between charts on smaller screens */
@media (max-width: 768px) {
  .visualizations {
    flex-direction: column;
  }

  .chart {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 20px; /* Spacing between charts */
  }
}

.full-width-chart {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%; /* Full width */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Space above the full-width chart */
}

.chart-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.chart-container h2 {
  margin-bottom: 20px;
}

.timeframe-selector {
  margin-bottom: 20px;
}

.timeframe-selector button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timeframe-selector button:hover {
  background-color: #45a049;
}

.incident-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.incident-item {
  margin-bottom: 10px;
}


.incident-header {
  padding: 10px;
  background-color: #eee;
  background-color: rgb(246, 149, 149);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incident-header:hover {
  background-color: #ddd;
  background-color: rgb(210, 113, 113);
}

.incident-header.resolved {
  background-color: #c1efcc; /* Light green for resolved incidents */
  border-color: #c3e6cb;
}

.incident-header.resolved:hover {
  background-color: #9ceaae;
  border-color: #8bdf9e;
}

.incident-details {
  padding: 15px;
  background-color: #fafafa;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
}

.incident-video {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.incident-actions {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.report-btn,
.resolve-btn {
  /* background-color: #4caf50; */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.report-btn:hover {
  /* background-color: #45a049; */
  background-color: #0056b3;
}

.resolve-btn:hover {
  /* background-color: #388e3c; */
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
